.gradiente {
    background: linear-gradient(135deg, #B8860B, #DAA520, #FFD700, #DAA520, #B8860B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .cursiva {
    font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
  .logo {
  width: 400px;
  height: 400px;
  background: linear-gradient(135deg, #8C602F, #D2AD66, #F4DA85, #D2AD66, #8C602F);
  
  -webkit-mask-image: url('../images/logo.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url('../images/logo.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

  .botoes{
    background: linear-gradient(135deg, #8C602F, #D2AD66, #F4DA85, #D2AD66, #8C602F);
  }

.font-brittany {
  font-family: 'Great Vibes', cursive;
  text-transform: none;
  letter-spacing: normal;
}

.font-playfair { font-family: 'Playfair Display', serif; }

.font-cinzel { font-family: 'Cinzel', serif; }

 .font-abril { font-family: 'Abril Fatface', serif; }


  